<plugin>
	<label>csound-simplesynth</label>
	<description>a simple synth made with csound</description>
	<maker>David DeWert</maker>
	<homepage>https://github.com/woguls/simplesynth/tree/csound</homepage>
	<license>https://spdx.org/licenses/MIT</license>
	<version>
		<major>0</major>
		<minor>1</minor>
		<patch>0</patch>
	</version>
	<distrho>
		<brand>woguls</brand>
		<name>SimpleSynth</name>
		<uri>https://github.com/woguls/simplesynth/tree/csound</uri>
	</distrho>
	<parameter>
		<name>Frequency</name>
		<symbol>paramFrequency</symbol>
		<min>10.0f</min>
		<max>10000.0f</max>
		<def>440.1f</def>
		<hint>kParameterIsAutomable</hint>
		<hint>kParameterIsLogarithmic</hint>
	</parameter>
	<parameter>
		<name>Volume</name>
		<symbol>paramVolume</symbol>
		<min>0.0f</min>
		<max>1.0f</max>
		<def>0.5f</def>
		<hint>kParameterIsAutomable</hint>
		<hint>kParameterIsLogarithmic</hint>
	</parameter>
</plugin>