<plugin>
	<name>simplefilter</name>
	<label>csound-simplefilter</label>
	<description>a simple filter made with csound</description>
	<maker>David DeWert</maker>
	<homepage>https://github.com/woguls/simplesynth/tree/csound/simplefilter</homepage>
	<license>https://spdx.org/licenses/MIT</license>
	<version>
		<major>0</major>
		<minor>1</minor>
		<patch>0</patch>
	</version>
	<distrho>
		<brand>woguls</brand>
		<name>SimpleFilter</name>
		<uri>https://github.com/woguls/simplesynth/tree/csound/simplefilter</uri>
		<outputs>2</outputs>
		<inputs>2</inputs>
		<synth>0</synth>
		<midiinput>0</midiinput>
		<midioutput>0</midioutput>
	</distrho>
	<parameter>
		<name>HFDamp</name>
		<symbol>HFDamp</symbol>
		<min>0.0f</min>
		<max>1.0f</max>
		<def>0.5f</def>
		<hint>kParameterIsAutomable</hint>
	</parameter>
	<parameter>
		<name>RoomSize</name>
		<symbol>RoomSize</symbol>
		<min>0.0f</min>
		<max>1.0f</max>
		<def>0.5f</def>
		<hint>kParameterIsAutomable</hint>
	</parameter>
</plugin>